<div style="width:100%" align="center">
  <div style="height: 20px;" id="log"></div>
</div>

<div id="center-container" style="width: 100%;height:800px">
  <%= render :partial => "shared/legend" -%>
  <div id="infovis" style="width: 100%;height:800px"></div>
</div>

<div id="right-container">
  <div>
    <strong>Title:</strong> <%= @graph.title %><br/>
    <strong>URL:</strong> <%= @graph.url %><br/>
    <strong>Pages:</strong> <%= @graph.page_count %>
  </div>
  <div id="inner-details" style="width: 300px;">
  </div>
</div>

<br style="clear:both"/>

<script type="text/javascript">
$(function() {
	$("#right-container").dialog({width:325, "position": [10,75]});
	try {
    init();
  } catch(e) {
    Log.write("Error loading graph.");
  }
});
</script>
<%= javascript_include_tag 'jit-yc' %>
<script src="<%= "/graphs/#{@detailed_report ? 'detailed/' : ''}#{@graph_id || @graph.id}.js" -%>" type="text/javascript"></script>
<%= javascript_include_tag 'jit-sitemap' %>