<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Site Map Explorer: <%= controller.action_name %></title>
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
  <%= stylesheet_link_tag 'scaffold', 'sitemap', 'black-tie/jquery-ui-1.8.1.custom.css' %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.1.custom.min.js' %>
</head>
<body>
<div id="header" class="bar">
  <ul>
  <% if !current_user.nil? %>
  <li>Welcome, <%= current_user.login -%>:</li>
  <li><a href="/logout">Logout</a></li>
  <% else %>
  <li><a href="/signup">Signup</a></li>
  <li><a href="/login">Login</a></li>
  <% end %>
  </ul>
</div>
<%= render :partial => "shared/delegate_auth_bar" -%>

<div id="tabs" class='ui-tabs ui-widget ui-widget-content ui-corner-all'>
  <%= render :partial => "shared/tabs" -%>
	<div class="container">
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
	</div>
</div>
<div id="footer">
  <div class="left">
  Code at <a href="http://github.com/nstielau/Sitemapper">Github</a>
  </div>
  <div class="right">
    <a href="http://www.seomoz.org">
      <img src="/images/powered_by_linkscape.png"/>
    </a>
  </div>
</div>
<% if Rails.env == "production" %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8727281-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
</body>
</html>
